/* ---------------------- */
/* user-item.css Styles */
/* ---------------------- */

.service-tile {
  font-size: 0.9rem; 
  min-width: 100%;

  margin: 0px 0px 5px 0px;
  padding: 2px;

  color: black;
  background: white;

  border: 1px solid sienna;
  border-radius: 4px;
}


.service-tile:hover {
  box-shadow: 5px 5px 4px lightgray;
  border: 1px solid silver;
  background: white;
  /* color: silver */
}

fa.center {
  display: block;
  text-align: center;
}

input {
  min-width: 150px;
}
