<div class='service-tile'>
  
  <div *ngIf="!service.id" class='center'>
    <button type="button" (click)="addService($event, day, site)" pButton icon="fa-plus-square" label="add service"></button>
  </div> 

  <div *ngIf="service.id">
    <div>Datum: {{ day.date }}</div>
    <div>Ort: {{ site.name }}</div>     
  </div>

</div>

<p-dialog width=600 item-height="800" [(visible)]="display" closable="false" modal="true">
      <p-header>
        Service Data
    </p-header>
  
  <div class="label">Id</div>
  <input type="text" pInputText  [(ngModel)]="service.id" [disabled]="true"/>

  <div class="label">Site</div>
  <input type="text" pInputText  [(ngModel)]="service.site" [disabled]="true"/>

  <div class="label">Date</div>
  <input type="text" pInputText  [(ngModel)]="service.isodate" [disabled]="true"/>

  <div class="label">Start Time</div>
  <p-dropdown [options]="times" [(ngModel)]="service.startTime" editable="editable" placeholder="Time" [autoWidth]="false"></p-dropdown>

  <div class="label">Preacher</div>
  <p-dropdown [options]="preachers" editable="editable" [autoWidth]="false"></p-dropdown>

  <div class="label">Musician</div>
  <p-dropdown [options]="musicians" editable="editable" [autoWidth]="false"></p-dropdown>

  <div class="label">Helper</div>
  <p-dropdown [options]="helpers" editable="editable" [autoWidth]="false"></p-dropdown>

  <div class="label">Communion</div>
  <p-checkbox binary=true></p-checkbox>

    <p-footer>
      <!-- <button type="button" (click)="cancel()" pButton icon="fa-times" label="Cancel" ></button> -->
      <button type="button" (click)="save()"   pButton icon="fa-floppy-o" label="Save"></button>
      <!-- <button type="button" (click)="delete()"   pButton icon="fa-trash-o" label="Delete"></button> -->
    </p-footer>
  
</p-dialog>
