.day-row {
  margin: 0px 5px;
}
.day-tile {
  display: block;
  background: lightgoldenrodyellow;
  padding: 5px 10px;
  margin: 5px 5px;
  min-width: 15%;
  max-width: 15%;
  display: inline-block;
  font-weight: 400;
  border: 1px solid rgb(232,234,237);
  border-radius: 4px;

}

.day-tile .name {
  font-size: 0.8rem; 
}

.day-tile .date {
  font-size: 1.0rem; 
}
